body {
	margin: 0px;
	font-family: "Poppins";
	background-color: #19232b;
	color: #fff;
}

.navbar {
	background-color: #181a1d;
	padding: 15px 180px 15px 180px;
	display: flex;
	justify-content: space-between;
	font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
		sans-serif;
	box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.navbar-kiri {
	display: flex;
	align-items: center;
}

.navbar-kiri div {
	text-transform: uppercase;
	font-size: 20px;
}

.navbar-kiri img {
	width: 60px;
}

.navbar-kanan {
	display: flex;
	align-items: center;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	margin: 0px 15px;
}

ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}

ul li a:hover {
	color: #20ce65;
	transition: all 0.3s ease-in-out;
}

.navbar-kanan div {
	text-transform: uppercase;
	font-size: 14px;
}

.navbar-kanan > * {
	padding: 15px;
}

.landing-page {
	padding: 100px 200px;
}

.text {
	padding-right: 600px;
}

.landing-kiri span {
	font-size: 60px;
	font-weight: 700;
	color: #20ce65;
	display: block;
}

.landing-kiri .kt {
	margin-top: -20px;
	color: #fff;
}

.landing-kiri h3 {
	margin-top: 0px;
	font-weight: 500;
}

.landing-kiri p {
	color: rgba(255, 255, 255, 0.8);
	font-weight: 200;
}

.landing-kiri button {
	background-color: #20ce65;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 15px 52px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: "Poppins";
	font-weight: 600;
	cursor: pointer;
}

.landing-kiri #myBtn3 {
	background-color: #ddd;
	border: none;
	border-radius: 4px;
	color: #19232b;
	padding: 15px 62px;
	margin: 0px 30px 0px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: "Poppins";
	font-weight: 600;
	cursor: pointer;
}

.landing-kiri button:hover {
	background-color: #0f161c;
	transition: all 0.3s ease-in-out;
}

.landing-kiri #myBtn3:hover {
	background-color: #0f161c;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	color: #0f161c;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

.modal-content h1 {
	display: flex;
	justify-content: center;
	font-weight: 800;
}

.modal-content label {
	color: #19232b;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
}

.modal-content input[type="text"],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.modal-content button {
	margin-top: 10%;
	width: 100%;
	background-color: #20ce65;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: "Poppins";
	font-weight: 600;
	cursor: pointer;
}

.modal-content button:hover {
	background-color: #0f161c;
	transition: all 0.3s ease 0s;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.tabel {
	padding: 30px;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

.tabel h3 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 25px;
}

.tabel h1 {
	color: #20ce65;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 45px;
	margin-top: -30px;
}

table tr {
	background-color: #0f161c;
	border: 1px solid #19232b;
	padding: 0.35em;
}

table th,
table td {
	padding: 0.625em;
	text-align: center;
}

table th {
	font-size: 0.85em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	table {
		border: 0;
	}

	table caption {
		font-size: 1.3em;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: 0.625em;
	}

	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: 0.8em;
		text-align: right;
	}

	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	table td:last-child {
		border-bottom: 0;
	}
}

.tabel .email {
	text-decoration: none;
	color: #20ce65;
}

.tabel .email:hover {
	color: #19486e;
	transition: all 0.3s ease-in-out;
}

.tabel #myBtn4 {
	background-color: #20ce65;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 5px 17px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	font-family: "Poppins";
	font-weight: 600;
	cursor: pointer;
}

.tabel #myBtn5 {
	background-color: #d31a38;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 5px 9px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	font-family: "Poppins";
	font-weight: 600;
	cursor: pointer;
}

.container {
	margin: 0%;
}

.form-update {
	margin: 100px 300px;
	background-color: #0f161c;
	border-radius: 8px;
	box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.65);
}

.header {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.header .text-form {
	color: #fff;
	font-weight: 700;
	font-size: 45px;
}

.header .text-edit {
	color: #20ce65;
	font-weight: 700;
	font-size: 45px;
}

.form-content {
	display: flex;
	padding: 3% 5%;
}

.field-label .label-1 {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	margin: 0% 0% 20% 0%;
}

.field-label .label-2,
.label-3,
.label-4,
.label-5,
.label-6,
.label-7 {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	margin: 20% 0%;
}

.field-form {
	width: 80%;
	margin-left: auto;
	margin-right: 0;
}

.form-content input[type="text"],
select {
	width: 100%;
	padding: 12px 50px;
	margin: 1% 0%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.form-content button {
	margin-top: 5%;
	width: 100%;
	background-color: #20ce65;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: "Poppins";
	font-weight: 600;
	cursor: pointer;
}

.social {
	padding: 30px 0px;
}

.wrapper .button {
	display: inline-block;
	height: 45px;
	width: 45px;
	margin: 0 5px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-out;
}
.wrapper .button:hover {
	width: 170px;
	background: #004e11;
}
.wrapper .button .icon {
	display: inline-block;
	height: 45px;
	width: 45px;
	color: #004e11;
	text-align: center;
	border-radius: 50px;
	box-sizing: border-box;
	line-height: 45px;
	transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
	color: #fff;
	background: #004e11;
}
.wrapper .button:nth-child(2):hover .icon {
	color: #fff;
	background: #004e11;
}
.wrapper .button:nth-child(3):hover .icon {
	color: #fff;
	background: #004e11;
}
.wrapper .button:nth-child(4):hover .icon {
	color: #fff;
	background: #004e11;
}
.wrapper .button:nth-child(5):hover .icon {
	color: #fff;
	background: #004e11;
}

.wrapper .button span {
	font-size: 15px;
	font-weight: 500;
	line-height: 45px;
	margin-left: 10px;
	transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
	color: #fff;
}
.wrapper .button:nth-child(2) span {
	color: #fff;
}
.wrapper .button:nth-child(3) span {
	color: #fff;
}
.wrapper .button:nth-child(4) span {
	color: #fff;
}
.wrapper .button:nth-child(5) span {
	color: #fff;
}
